[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
django-rosetta = "*"
flake8 = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
django-compressor = "*"
django-cors-headers = "*"
django-celery-beat = "*"
django-celery-results = "*"
celery = "*"
requests = "*"
django-log-request-id = "*"
django-model-utils = "*"
argon2-cffi = "*"
django-redis = "*"
redis = "*"
gevent = "*"
django-cacheops = "*"
raven = "*"
pillow = "*"
flower = "*"
psutil = "*"
django-recaptcha = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
