[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
django-rosetta = "*"
flake8 = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
django-compressor = "*"
django-cors-headers = "*"
django-celery-beat = "*"
django-celery-results = "*"
celery = "*"
requests = "*"
django-log-request-id = "*"

[requires]
python_version = "3.6"
